body {
   
    background-repeat: repeat;
    overflow: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    background-image: url(https://wallpaperaccess.com/full/1314202.jpg);
    
    
}
header{
    top: 0%;
    height: 80px;
   width: 100%;
    position: fixed;
    z-index: 2;
   
    font-size: 30px;
    text-align: center;
    padding: 0px;
    margin: 0px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-image: url(https://wallpaperaccess.com/full/637651.jpg);


div {
    border: 5px solid rgb(129, 41, 41);
    display: inline-block;
    width: 150px;
    height: 225px; 
padding: auto;
margin: 10px;
border-style: dashed;
border-color: rgb(216, 206, 63);
font-family: monospace;
}

   
}
p{
    padding: 20px;
    border: 2px;
    border-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.obama{
    padding-top: 5%;
}